@use 'color-palette' as colors;
$observatory: colors.$observatory;
$aqua-squeeze: colors.$aqua-squeeze;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0 auto;
  height: 60px;
  gap: 10px;
  line-height: 24px;
  border-radius: 20px;
  padding: 16px, 50px, 16px, 50px;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.btn--rocket-get-started {
  width: 221px;
  color: white;
  background-color: $observatory;
  text-decoration: none;
}

.btn--get-started-plain {
  width: 255px;
  color: $observatory;
  background-color: $aqua-squeeze;
  text-decoration: none;
}
.btn--get-started-arrow {
  width: 255px;
  color: $observatory;
  background-color: white;
  text-decoration: none;
}

.btn--submit {
  width: 159px;
  color: white;
  background-color: $observatory;
  text-decoration: none;
}

.btn--subscribe {
  width: 260px;
  color: white;
  background-color: $observatory;
  text-decoration: none;
}
