@use 'color-palette' as colors;
@use 'hero-section';
@use 'buttons';

.customer {
  background-color: colors.$sweet-corn;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  padding-inline: 32px;
  padding-block: 100px;
}
.customer__header {
  font-weight: 700;
  font-size: 38px;
  line-height: 49.4px;
  text-align: center;
  align-self: center;
  width: 311px;
  height: 147px;
}
.customer__subtext {
  font-weight: 400;
  font-size: 16;
  line-height: 24px;
  text-align: center;
  color: colors.$mine-shaft;
  width: 311px;
  height: 48px;
}

.customer__reviews-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.customer__review {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 311px;
  padding-block: 30px;
  border: 1px solid colors.$aqua-squeeze;
  border-radius: 20px;
}

.customer__avatar {
  height: 120px;
  width: 120px;
}

.customer__name {
  font-weight: 600;
  font-size: 21px;
  line-height: 27.3px;
  text-align: center;
  color: colors.$mine-shaft;
}

.customer__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  text-align: center;
  color: colors.$mine-shaft;
}

.customer__testimony {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.customer__review-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer__review-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 251px;
  img {
    margin-block-start: 20px;
  }
}

.rating__desktop {
  display: none;
}
