@use 'color-palette' as colors;
@use 'buttons';

$observatory: colors.$observatory;

@media (width > 990px) {
  // hero-section
  .web-header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-inline: 40px;
    .web-header__title {
      line-height: 0;
    }
    .web-header__desktop {
      display: flex;
      align-items: center;
      gap: 20px;
      .web-header__link:first-child {
        color: $observatory;
        font-size: 1rem;
        font-weight: 600;
      }
      .web-header__link:not(:first-child) {
        width: 202px;
        height: 60px;
      }
    }
  }
  .hero-section {
    flex-direction: row;
    height: 690px;
    justify-content: center;
    padding-inline: 40px;
    .hero-header {
      width: 648px;
      height: 358px;
      justify-content: center;
      align-items: flex-start;
      text-align: left;
    }
    .hero-header__btns {
      display: flex;
      gap: 20px;
    }
    .hero-header__btns .btn {
      width: 202px;
      height: 60px;
    }
    .hero-header__btns .btn--white-green-border {
      display: flex;
    }
    .hero_img {
      width: 450px;
    }
  }
  // features
  .features {
    flex-direction: row-reverse;
    justify-content: center;
    height: 690px;
    margin-block-start: 0px;
    padding-inline: 40px;
    .features__header {
      width: 570px;
      .features__header,
      .features__subtext {
        text-align: left;
      }
      .features__list {
        flex-wrap: wrap;
        flex-direction: row;
        .features__list-item {
          width: 275px;
        }
      }
    }
    .features__img {
      width: 540px;
    }
  }
  // selected works
  .selected {
    height: 847px;
    .selected__header {
      display: inline-block;
      width: 100%;
      .selected__mobile {
        display: none;
      }
      .selected__desktop {
        font-weight: 700;
        display: initial;
      }
    }
    .cards-container {
      display: flex;
      justify-content: center;
      gap: 30px;
    }
  }
  // customer reviews
  .customer {
    gap: 10px;
    .customer__header,
    .customer__subtext {
      height: initial;
      width: 100%;
    }
    .customer__reviews-container {
      flex-direction: row;
      gap: 20px;
      margin-block-start: 40px;
      .customer__review {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: initial;
        max-width: 510px;
        height: 271px;
        padding-inline: 40px;
        .customer__review-left {
          width: 180px;
          p {
            text-align: left;
          }
        }
        .customer__review-right {
          display: flex;
          flex-direction: column-reverse;
          gap: 20px;
          width: 280px;
          p {
            text-align: left;
          }
        }
      }
      .rating__mobile {
        display: none;
      }
      .rating__desktop {
        display: initial;
      }
    }
  }
}
