@use 'color-palette' as colors;
@use 'hero-section';
@use 'buttons';

$zircon: colors.$zircon;

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background-color: $zircon;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
.features__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  align-self: center;
}
.features__list-item {
  background-color: white;
  border-radius: 20px;
  width: 315px;
  height: 90px;
  display: flex;
  padding-inline: 20px;
  gap: 20px;
  align-items: center;
  p {
    font-size: 21px;
  }
  img {
    background-color: colors.$aqua-squeeze;
    border-radius: 12.2px;
    padding: 12.2px;
  }
}
.features__texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-inline: 20px;
}
.features__header {
  align-self: center;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.features__subtext {
  text-align: center;
}
