@use 'color-palette' as colors;
@use 'hero-section';
@use 'buttons';

$zircon: colors.$zircon;

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background-color: $zircon;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
